<div class="card hidden-card" [ngClass]="{'shown-card': loaded}">
  <div class="card-header text-center">
    <img *ngIf="connected" class="img-fluid image-header-card" [src]="logo">
    <p>TWITCH PROFILE</p>
  </div>
  <div class="card-block">
    <dl class="row" [ngClass]="{'loaded': loaded}">
      <dt class="col-md-4 col-6 text-right">Username</dt>
      <dd class="col-md-8 col-6 text-left">{{ obj?.twitch_display || 'Not connected' }}</dd>

      <dt class="col-md-4 col-6 text-right">User ID</dt>
      <dd class="col-md-8 col-6 text-left">{{ obj?.twitch_id || 'Not connected' }}</dd>

      <dt class="col-md-4 col-6 text-right">Twitch partner</dt>
      <dd class="col-md-8 col-6 text-left">{{ partner || 'Not connected' }}</dd>

      <dt class="col-md-4 col-6 text-right">Registered</dt>
      <dd class="col-md-8 col-6 text-left">{{ date || 'Not connected' }}</dd>
    </dl>
    <p class="text-center" *ngIf="connected"><button type="button" class="btn btn-outline-disconnect" (click)="disconnect()">disconnect</button></p>
    <p class="text-center" *ngIf="!connected"><a class="btn btn-outline-connect" href="{{url}}">connect</a></p>
  </div>
</div>

<div *ngIf="connected" class="card hidden-card" [ngClass]="{'shown-card': loaded}">
  <div class="card-header text-center">
    <p>TRACKING</p>
  </div>
  <div class="card-block">
    <form #f="ngForm" novalidate (ngSubmit)="addTracking(f.value)">
      <div class="form-group flex-box">
        <input class="tracking-input" type="text" name="user" id="userInput" placeholder="Twitch Username" required [(ngModel)]="trackModel.username" #username="ngModel">
        <button type="submit" class="btn btn-outline-track" [disabled]="!f.form.valid">Track</button>
      </div>
      <p><small class="auth-notif" [ngClass]="{'shown': !(username.valid || (username.pristine && !f.submitted) || (username.untouched && username.pristine))}">Username is required.</small></p>
    </form>
  </div>
  <div class="card-block list-block">
    <ul class="track-list">
      <li class="track-list" [@listAddRemove]="'in'" *ngFor="let item of trackingDisplay; let i = index"><p class="track-item"><i class="fa fa-twitch" aria-hidden="true"></i> {{item[1]}}</p><i class="fa fa-trash-o  i-right i-right-side" aria-hidden="true" (click)="stopTracking(i)"></i><i class="fa fa-eye i-right" aria-hidden="true"></i></li>
    </ul>
  </div>
</div>
